
  .popup{
    margin: 0 auto;
    padding: 0;
    position: fixed;
    color: #FF4062;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 300px;
    width: calc(100% - 100px);
    min-width: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    top: 170px;
    left: 0;
    right:0;
    z-index: 108;
    display: flex;
    justify-content: center;
  }

  .popup__text{
    margin: 3px 2px;
    display: block;
    text-align: center;
    align-content: center;

  }

  .popup__text-message{
    color: black;
  }