.profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__form {
  width: 100%;
  max-width: 410px;
}
.profile__title {
  margin: 74px auto 123px;
  width: calc(100% - 60px);
  max-width: 410px;
  text-align: center;
}
.profile__label {
  margin:  0 auto;
  padding: 0 0 16px;
  width: calc(100% - 60px);
  max-width: 410px;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
}
.profile__label:last-of-type {
  margin-top: 17px;
  padding: 0;
  border: 0;
}

.profile__input {
  width: calc(100% - 60px);
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  border: none;
}
.profile__input:last-of-type {
  text-align: right;
}

.profile__input-error{
 margin-top: 19px;
}

.profile__button {
  padding: 0;
  margin: 130px auto 16px;
  display: block;
  opacity: 0.5;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  transition: all 0.5s;
  border: none;
  background: none;
}
.profile__button_active{
  opacity: 1;
}
.profile__button_active:hover {
  cursor: pointer;
  opacity: 0.5;
}
.profile__button_type_isOut {
  margin: 0 auto;
  color: #ee3465;
}

@media screen and (max-width: 1279px) {
  .profile__form {
    margin-top: 155px;
  }
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__label {
    padding: 0 0 11px;
  }
  .profile__input-error{
    margin-top: 16px;
   }
  .profile__button  {
    margin-top: 120px;
  }
  .profile__button_type_isOut {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__form {
    margin-top: 65px;
  }
  .profile__title {
    margin: 0 auto 76px;
  }
  .profile__label {
    padding: 0 0 11px;
  }
  .profile__input-error{
    margin-top: 16px;
   }
  .profile__button {
    margin-top: 277px;
    font-size: 12px;
    line-height: 15px;
  }
  .profile__button_type_isOut {
    margin-top: 0;
  }
}

