.login {
  max-width: 396px;
  margin: 70px auto;
  width: 100%;
}
.login__label:last-of-type {
  margin-bottom: 42px;
}
.login__submit-button{
  margin-top: 179px;
}

@media screen and (max-width: 767px) {
  .login {
    max-width: 260px;
    margin: 56px auto 30px;
  }
  .login__submit-button{
    margin-top: 267px;
  }
}