.navtab {
  background-color: black;
  display: flex;
  justify-content: center;
  min-height: 66px;
  padding: 0;
  margin: 0;
  column-gap: 40px;
}

.navtab__link {
  margin: auto 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-family: Inter;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  transition: all .5s;
}

.navtab__link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navtab {
    column-gap: 24px;
  }
  
  .navtab__link {
    font-size: 11px;
    line-height: 16px;
  }
}